#userInfo {
  background-color: #707070;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 50px; }
  #userInfo .citem {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center; }
    #userInfo .citem .citem01 a {
      display: flex;
      display: -webkit-flex;
      margin-right: 11px;
      border-right: 1px solid #c2c2c2; }
      #userInfo .citem .citem01 a p {
        color: #c2c2c2;
        margin-right: 8px; }
      #userInfo .citem .citem01 a img {
        margin-right: 8px; }
    #userInfo .citem .citem02 {
      margin-right: 11px;
      border-right: 1px solid #c2c2c2; }
      #userInfo .citem .citem02 a {
        display: flex;
        display: -webkit-flex; }
        #userInfo .citem .citem02 a img {
          margin-right: 8px; }
    #userInfo .citem .citem03 {
      display: flex;
      display: -webkit-flex; }
      #userInfo .citem .citem03 a {
        display: flex;
        display: -webkit-flex;
        margin-left: 11px; }
        #userInfo .citem .citem03 a p {
          margin-right: 8px; }

nav {
  background-color: #333333; }

#navMenu {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end; }
  #navMenu .hamurgerMenu {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center; }
  #navMenu .navText {
    color: #fff;
    font-size: 15px;
    margin-right: 45px; }

#showCase {
  background-color: #9A9A9A; }
  #showCase .showCase01 {
    display: -webkit-flex;
    display: flex; }
    #showCase .showCase01 .cardInfo {
      background-color: #1e1e1e; }
      #showCase .showCase01 .cardInfo h5 {
        color: #fff; }
      #showCase .showCase01 .cardInfo p {
        color: #fff; }
      #showCase .showCase01 .cardInfo .noble {
        color: white;
        font-size: 14px; }
        #showCase .showCase01 .cardInfo .noble span {
          color: #dc2f42;
          font-size: 26px; }
      #showCase .showCase01 .cardInfo .subBtns {
        display: flex;
        display: -webkit-flex; }
        #showCase .showCase01 .cardInfo .subBtns .cardBtn {
          margin-right: 20px;
          background-color: #dc2f42;
          border-radius: 0;
          color: #fff; }
    #showCase .showCase01 .cardImg {
      width: 374px;
      height: 209px; }
    #showCase .showCase01 .sliderText {
      font-size: 18px;
      background-color: #313132;
      color: #fff;
      padding: 17px; }

#product .product01 {
  display: flex;
  display: -webkit-flex; }
  #product .product01 .product01A {
    box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.75); }
    #product .product01 .product01A h3 {
      font-size: 28px;
      margin-bottom: 20px;
      margin-top: 20px; }
    #product .product01 .product01A .CarCard {
      position: relative;
      border: 0; }
      #product .product01 .product01A .CarCard .card-img-top {
        width: 140px;
        height: auto; }
      #product .product01 .product01A .CarCard .openBtn {
        background: #198dbb;
        border: none;
        padding: 10px 15px;
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        bottom: 85px;
        right: 35px;
        border-top-left-radius: 61px; }
    #product .product01 .product01A .frontProduct {
      display: flex;
      display: -webkit-flex; }
    #product .product01 .product01A .click {
      font-size: 33px;
      color: rgba(0, 0, 0, 0.5);
      width: 38px;
      height: 38px;
      position: absolute;
      top: 100px;
      left: 0;
      cursor: pointer;
      transition: all .32s ease;
      background: red;
      border-radius: 20px; }
      #product .product01 .product01A .click .info {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        white-space: nowrap;
        color: grey;
        position: relative;
        top: 30px;
        left: -46px;
        opacity: 0;
        transition: all 0.3s ease; }
      #product .product01 .product01A .click .info-tog {
        color: #F5CC27;
        position: relative;
        top: 45px;
        opacity: 1;
        transition: all .32s ease; }
    #product .product01 .product01A .click span {
      margin-left: 4px;
      margin-top: 3px;
      z-index: 999;
      position: absolute;
      transition: all .32s ease; }
    #product .product01 .product01A span:hover {
      opacity: 0.8;
      transition: all .32s ease; }
    #product .product01 .product01A span:active {
      transform: scale(0.93, 0.93) translateY(2px);
      transition: all .32s ease; }
    #product .product01 .product01A .ring, #product .product01 .product01A .ring2 {
      opacity: 0;
      background: grey;
      width: 1px;
      height: 1px;
      position: absolute;
      top: 19px;
      left: 18px;
      border-radius: 50%;
      cursor: pointer;
      transition: all .32s ease; }
    #product .product01 .product01A .active span, #product .product01 .product01A .active-2 span {
      color: #F5CC27 !important;
      transition: all .32s ease; }
    #product .product01 .product01A .active-2 .ring {
      width: 58px !important;
      height: 58px !important;
      top: -10px !important;
      left: -10px !important;
      position: absolute;
      border-radius: 50%;
      opacity: 1 !important;
      transition: all .32s ease; }
    #product .product01 .product01A .active-2 .ring {
      background: #F5CC27 !important;
      transition: all .32s ease; }
    #product .product01 .product01A .active-2 .ring2 {
      background: #fff !important;
      transition: all .32s ease; }
    #product .product01 .product01A .active-3 .ring2 {
      width: 60px !important;
      height: 60px !important;
      top: -11px !important;
      left: -11px !important;
      position: absolute;
      border-radius: 50%;
      opacity: 1 !important;
      transition: all .32s ease; }
  #product .product01 .product01B {
    display: flex;
    display: -webkit-flex;
    padding-top: 47px; }
    #product .product01 .product01B .firstmember {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center; }
      #product .product01 .product01B .firstmember h4 {
        font-size: 35px; }
    #product .product01 .product01B .partic {
      display: flex;
      display: -webkit-flex;
      -webkit-justify-content: center;
      justify-content: center;
      margin-top: 20px;
      cursor: pointer; }
      #product .product01 .product01B .partic img {
        margin-right: 10px; }

#vehicle {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.75); }
  #vehicle .vehicle01 h2 {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 24px; }

.subStn {
  background-color: #f2f2f2;
  padding-bottom: 27px;
  padding-top: 27px; }
  .subStn .explanation {
    display: flex;
    display: -webkit-flex; }
    .subStn .explanation .explanation01 {
      display: flex;
      display: -webkit-flex; }
      .subStn .explanation .explanation01 .exTitle {
        font-size: 26px;
        margin-bottom: 20px; }
      .subStn .explanation .explanation01 .exDescription {
        line-height: 1.4; }

footer {
  background-color: #1e1e1e; }
  footer .footPage {
    display: flex;
    display: -webkit-flex; }
    footer .footPage .footer01 {
      border-right: 1px solid gray;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      padding-top: 25px;
      padding-bottom: 20px; }
      footer .footPage .footer01 a {
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 20px; }
    footer .footPage .footer02 {
      border-right: 1px solid gray;
      padding-top: 25px;
      padding-bottom: 20px; }
      footer .footPage .footer02 h3 {
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 20px; }
      footer .footPage .footer02 p {
        font-size: 12px;
        color: #ffffff;
        margin-bottom: 20px; }
      footer .footPage .footer02 a {
        margin: 15px; }
    footer .footPage .footer03 {
      margin-top: 25px; }
      footer .footPage .footer03 h6 {
        color: #fff;
        font-size: 15px;
        margin-bottom: 14px; }
      footer .footPage .footer03 p {
        color: #fff;
        font-size: 12px;
        margin-bottom: 14px; }
      footer .footPage .footer03 .footer03A input {
        background-color: #252525;
        border: 1px solid #252525;
        padding: 10px 100px 10px 8px;
        margin-bottom: 15px; }
      footer .footPage .footer03 .footer03A button {
        background-color: #198dbb;
        border: 1px solid #198dbb;
        color: #fff;
        padding: 5px 10px 5px 10px; }

.openBtn {
  background: #198dbb;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer; }

.openBtn:hover {
  background: #bbb; }

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9); }

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin: auto; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white; }

.overlay .closebtn:hover {
  color: #ccc; }

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white; }

.overlay input[type=text]:hover {
  background: #f1f1f1; }

.overlay button {
  float: left;
  width: 20%;
  padding: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer; }

.overlay button:hover {
  background: #bbb; }

@media (max-width: 767px) {
  #navMenu .hamurgerMenu {
    display: contents; }

  #showCase .showCase01 {
    flex-direction: column;
    -webkit-flex-direction: column; }
    #showCase .showCase01 .sliderText {
      margin-right: 30px;
      height: 60px; }

  #product .product01 {
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-bottom: 20px; }
    #product .product01 .product01A {
      box-shadow: none; }
      #product .product01 .product01A .CarCard .card-img-top {
        width: 255px; }
      #product .product01 .product01A .frontProduct {
        flex-direction: column;
        -webkit-flex-direction: column; }
      #product .product01 .product01A .click {
        top: 214px; }
    #product .product01 .product01B {
      flex-direction: column;
      -webkit-flex-direction: column; }

  .subStn .explanation {
    flex-direction: column;
    -webkit-flex-direction: column; }
    .subStn .explanation .explanation01 {
      flex-direction: column;
      -webkit-flex-direction: column;
      margin-bottom: 50px; }
      .subStn .explanation .explanation01 .exDescription01A {
        margin-bottom: 40px; }

  footer {
    padding-bottom: 30px; }
    footer .footPage {
      flex-direction: column;
      -webkit-flex-direction: column; }
      footer .footPage .footer01 {
        border-bottom: 1px solid gray;
        border-right: 0; }
      footer .footPage .footer02 {
        border-bottom: 1px solid gray;
        border-right: 0; }
      footer .footPage .footer03 {
        border-right: 0; } }

/*# sourceMappingURL=style.css.map */
